body {
  margin: 0.5rem;
}

@media screen and (min-width: 40em) {
  .grid-x {
    margin: 0 -5px;
  }

  .grid-x > div {
    margin: 0 5px;
  }
}

table input[type], table select {
  margin-bottom: 0;
}

